/* Write your CSS here */
* {
  box-sizing: border-box;
}

.bg-container {
  background: #07080c;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-style {
  width: 60%;
}
.heading,
.sub-heading,
.para-heading {
  color: #e1ebe4;
}

.btn-style {
  margin: 10px;
  border-style: none;
  height: 30px;
}
.btn1 {
  background-color: blue;
  color: white;
}
.btn2 {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}
button.btn1:hover {
  background-color: rgb(89, 138, 15);
}
button.btn2:hover {
  background-color: rgb(190, 118, 36);
}
