* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bgLightBlue {
  background-color: lightblue;
  width: 100vw;
}

.bgLightPurple {
  background-color: lightseagreen;
  width: 100%;
}

.bgLightSkyBlue {
  background-color: lightskyblue;
  width: 100%;
}

.bgLightGrey {
  background-color: lightslategray;
  width: 100%;
}
