/* Write your CSS here */

.bg-container {
  background-color: #1e293b;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  text-align: center;
}

.heading {
  color: yellow;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: bold;
}

.para-text {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
button {
  width: 110px;
  height: 30px;
  border-style: none;
  border-radius: 8px;
  font-weight: bold;
}

.btn-container {
  display: flex;
  justify-content: center;
}
